<cdy-table-wrapper [loading]="loading">
  <mat-table #table [dataSource]="dataSource" [trackBy]="trackCoinsBy('displayName')">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'name') }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="available">
      <mat-header-cell *matHeaderCellDef>Available</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'available') }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="depositing">
      <mat-header-cell *matHeaderCellDef>Pending Deposit</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'depositing') }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="withdrawing">
      <mat-header-cell *matHeaderCellDef>Pending Withdrawal</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'withdrawing') }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'total') }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
</cdy-table-wrapper>
