<cdy-page-content small="true">
  <form [formGroup]="form" (submit)="onFormSubmit()">
    <mat-card>

      <cdy-card-header-toolbar [color]="'primary'">
        <h1>Login</h1>
      </cdy-card-header-toolbar>

      <mat-card-content>
        <mat-form-field class="cdyg-full-width">
          <input matInput
            [formControlName]="'username'"
            type="text"
            placeholder="Username"
            autocomplete="on"
          >
          <mat-error *ngIf="form.get('username').invalid">{{ getErrorMessage(form.get('username')) }}</mat-error>
        </mat-form-field>

        <mat-form-field class="cdyg-full-width">
          <input matInput
            [formControlName]="'password'"
            type="password"
            placeholder="Password"
            autocomplete="off"
          >
          <mat-error *ngIf="form.get('username').invalid">{{ getErrorMessage(form.get('password')) }}</mat-error>
        </mat-form-field>

        <div class="cdyg-form-buttons">
          <button type="submit" mat-raised-button color="primary">Login</button>
        </div>
      </mat-card-content>

    </mat-card>
  </form>
</cdy-page-content>
