<form [formGroup]="form" (submit)="onFormSubmit()">
  <mat-form-field class="cdyg-full-width">
    <mat-select
      placeholder="Exchange"
      [formControlName]="'exchange'"
    >
      <mat-option *ngFor="let exchange of availableExchanges" [value]="exchange.value">
        {{ exchange.label }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('exchange').invalid">{{ getErrorMessage(form.get('exchange')) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="cdyg-full-width">
    <input matInput
      [formControlName]="'apiKey'"
      type="text"
      placeholder="apiKey"
      autocomplete="off"
    >
    <mat-error *ngIf="form.get('apiKey').invalid">{{ getErrorMessage(form.get('apiKey')) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="cdyg-full-width">
    <input matInput
      [formControlName]="'apiSecret'"
      type="apiSecret"
      placeholder="apiSecret"
      autocomplete="off"
    >
    <mat-error *ngIf="form.get('apiSecret').invalid">{{ getErrorMessage(form.get('apiSecret')) }}</mat-error>
  </mat-form-field>

  <mat-form-field class="cdyg-full-width">
    <input matInput
      [formControlName]="'passphrase'"
      type="passphrase"
      placeholder="Passphrase"
      autocomplete="off"
    >
    <mat-error *ngIf="form.get('passphrase').invalid">{{ getErrorMessage(form.get('passphrase')) }}</mat-error>
  </mat-form-field>

  <div class="cdyg-form-buttons">
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>

  <mat-error *ngIf="apiErrorMessage">{{ apiErrorMessage }}</mat-error>
</form>
