<form [formGroup]="form" (submit)="onFormSubmit(form.value)">
  <mat-card>

    <mat-card-content>

      <img src="/assets/img/crypto-caddy-logo.png" alt="Crypto Caddy Logo">

      <mat-form-field class="cdyg-full-width">
        <input matInput
          [formControlName]="'email'"
          type="email"
          placeholder="Email"
          autocomplete="email"
        >
        <mat-error *ngIf="getErrorMessage(form.get('email')); let errMsg">{{ errMsg }}</mat-error>
      </mat-form-field>

      <mat-form-field class="cdyg-full-width">
        <input matInput
          [formControlName]="'password'"
          type="password"
          placeholder="Password"
          autocomplete="off"
        >
        <mat-error *ngIf="getErrorMessage(form.get('password')); let errMsg">{{ errMsg }}</mat-error>
      </mat-form-field>

      <div *ngIf="form.errors">
        <mat-error *ngIf="form.getError('auth'); let err">{{ err.message }}</mat-error>
      </div>

      <div class="cdyg-form-buttons">
        <button type="submit" mat-raised-button color="primary">
          <cdy-button-content [loading]="formPending" [spinnerColor]="'white'">
            Sign in
          </cdy-button-content>
        </button>
      </div>
    </mat-card-content>

  </mat-card>
</form>
