@import 'globals/theme';
@import 'utils/responsive';
@import 'vars/dimensions';

$skew: 8deg;

:host {
  display: block;
}

.cdy-hero-wrapper {
  display: flex;
  position: relative;
  height: auto;
  min-height: 60vh;
  padding-bottom: 10vh;

  @include screen-size(xs) {
    min-height: 40vh;
  }

  .cdy-background {
    @include mat-elevation(2);
    position: absolute;
    width: 100%;
    height: 100%;
    transform: skewY($skew);
    transform-origin: 100%;
    overflow: hidden;


    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &::before {
      background-image: url(https://images.unsplash.com/photo-1453230806017-56d81464b6c5?ixlib=rb-0.3.5&s=2b549d39595ee4f6a69b81edd8bb738b&auto=format&fit=crop&w=2550&q=80);
      background-size: cover;
      background-repeat: no-repeat;
      transform: skewY(-$skew);
      height: 120%;
    }

    &::after {
      background: rgba(mat-color($cdy-app-primary, default), 0.66);
    }
  }
}

.cdy-hero {
  position: relative;
  width: 90%;
  max-width: 72rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  @include screen-size(xs) {
    flex-direction: column;
  }

  .cdy-logo, .cdy-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cdy-logo {
    flex: 1;
    width: auto;

    img {
      height: 20vh;
      align-self: center;
    }
  }

  .cdy-header {
    flex: 2;
    color: mat-color($cdy-app-primary, default-contrast);
    text-shadow: 2px 2px mat-color($cdy-app-primary, darker);
  }
}

.cdy-hero-headline {
  font-size: 48px;
  line-height: 64px;

  img {
    height: 4rem;
    vertical-align: middle;
  }
}

.cdyg-page-banner {
  background-image: url('/assets/img/crypto-caddy-logo.png');
}

cdy-page-content {
  margin-top: -7vw;
}

.cdy-use-case {
  mat-divider {
    transform: skewY($skew);
  }

  .cdy-item {
    display: flex;
    flex-direction: row;
    min-height: 15rem;
    padding: 2rem 0;
    max-width: 90%;
    margin: 0 auto;
    transform: skewY($skew);

    .cdy-text,
    .cdy-icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: skewY(-$skew);
    }

    .cdy-text {
      flex: 3;
      padding-left: 10vw;
      align-items: flex-start;

      @include screen-size(xs) {
        order: 1;
      }
    }

    .cdy-icon {
      flex: 2;

      @include screen-size(xs) {
        flex: 1;
        order: 0;
      }

      mat-icon {
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;

        @include screen-size(xs) {
          font-size: 2rem;
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
        }
      }

      mat-icon {
        position: relative;
        color: mat-color($cdy-app-primary, default-contrast);

        &::before {
          @include mat-elevation(2);
          content: '';
          position: absolute;;
          top: -50%;
          left: -50%;
          width: 200%;
          height: 200%;
          background: mat-color($cdy-app-primary, default);
          transform: skew(0, 8deg);
          z-index: -1;
        }
      }
    }
  }
}
