:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2rem auto;
  width: 90%;
  max-width: 72rem;

  &.cdy-small {
    max-width: 48rem;
  }
}

.cdy-header {
  flex: 1 0 100%;
}

.cdy-sidebar {
  &.cdy-empty {
    display: none;
  }

  width: 25%;
  margin-right: 1rem;
}

.cdy-main {
  flex: 1;
  margin-left: 1rem;
}
