:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  // Additional spacing on bottom for potential fab buttons
  margin: 1rem auto 3rem;
  width: 90%;
  max-width: 72rem;

  &.cdy-tiny {
    max-width: 24rem;
  }

  &.cdy-small {
    max-width: 32rem;
  }
}

.cdy-header {
  flex: 1 0 100%;
}

.cdy-sidebar {
  &.cdy-empty {
    display: none;
  }

  width: 25%;
  margin-right: 1rem;
}

.cdy-main {
  max-width: 100%;
  flex: 1;

  .cdy-sidebar:not(.cdy-empty) & {
    margin-left: 1rem;
  }
}
