<form [formGroup]="form" (submit)="submit()">
  <mat-form-field #formField class="cdyg-full-width">
    <input matInput
      [formControlName]="'email'"
      type="email"
      placeholder="Your email address"
      autocomplete="email"
    >
    <mat-error *ngIf="getErrorMessage(form.get('email')); let errMsg">{{ errMsg }}</mat-error>
  </mat-form-field>

  <mat-form-field #formField class="cdyg-full-width">
    <input matInput
      [formControlName]="'password'"
      type="password"
      placeholder="Create a password"
      autocomplete="off"
    >
    <mat-error *ngIf="getErrorMessage(form.get('password')); let errMsg">{{ errMsg }}</mat-error>
  </mat-form-field>

  <mat-form-field #formField class="cdyg-full-width">
    <input matInput
      [formControlName]="'passwordRepeat'"
      type="password"
      placeholder="Confirm you password"
      autocomplete="off"
    >
    <mat-error *ngIf="getErrorMessage(form.get('passwordRepeat')); let errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>

  <!-- Hidden button allows submitting by pressing enter -->
  <button type="submit" hidden></button>

  <div *ngIf="form.errors">
    <mat-error *ngIf="form.getError('generic'); let errMsg">{{ errMsg }}</mat-error>
  </div>
</form>
