<mat-toolbar role="header" [color]="'primary'">
  <a class="cdy-brand" mat-button [routerLink]="[ '/home' ]">
    Crypto Caddy
  </a>
  <ng-container *ngIf="(loggedIn$ | async) && (user$ | async); let user; else notLoggedIn">
    <a mat-button [routerLink]="[ '/wallets' ]">Wallets</a>
    <a mat-button [routerLink]="[ '/reports' ]">Reports</a>
    <span class="cdyg-spacer"></span>

    <button mat-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
      <span fxShow [fxShow.xs]="false">
        <ng-container *ngIf="!user.isAnonymous; else anonymousLabel">
          {{ user.email }}
        </ng-container>
        <ng-template #anonymousLabel>
          Anonymous User
        </ng-template>
      </span>
    </button>
    <mat-menu
      #accountMenu="matMenu"
      [overlapTrigger]="false"
      [yPosition]="'below'"
      [xPosition]="'before'"
    >
      <a mat-menu-item [routerLink]="[ '/account/overview' ]">Account</a>
      <a mat-menu-item [routerLink]="[ '/exchanges/setup' ]">Linked Exchanges</a>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onLogout()">
        <span>Sign out</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>

<ng-template #notLoggedIn>
  <span class="cdyg-spacer"></span>
  <a mat-button [routerLink]="[ '/account/register' ]">Sign up</a>
  <a mat-button mat-raised-button [color]="'accent'" [routerLink]="[ '/account/login' ]">Sign in</a>
</ng-template>
