@import 'colors';

$theme: (
  primary: map-get($teal, darken-1),
  primary-light: map-get($teal, lighten-3),
  primary-dark: map-get($teal, darken-3),
  secondary: map-get($teal, darken-3),
  accent: map-get($amber, accent-3),
  accent-light: map-get($amber, accent-2),
  accent-dark: map-get($amber, darken-1),
);

@function theme-color($shade) {
  @return map-get($theme, $shade);
}
