<cdy-page-content size="tiny">

  <mat-card>
    <mat-card-content>
      <img class="cdy-logo" src="/assets/img/crypto-caddy-logo.png" alt="Crypto Caddy Logo">
      <cdy-account-login-form #loginForm></cdy-account-login-form>

      <div class="cdyg-form-buttons">
        <button type="submit" mat-raised-button [color]="'primary'" (click)="loginForm.submit()">
          <cdy-button-content [loading]="loginForm.pending$ | async" [spinnerColor]="'white'">
            Sign in
          </cdy-button-content>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <p>Need an account? <a [routerLink]="[ '../register' ]">Sign up.</a></p>

  <p>
    <small>
      Only want to check out Crypto Caddy without signing up?
      <a href="javascript:void(0)" (click)="anonymousLogin()">Just click here!</a>
    </small>
  </p>

</cdy-page-content>
