<mat-card *ngFor="let exchange of (exchanges$ | async); trackBy:trackExchangeBy('exchangeId')">
  <mat-card-content>
    <div class="cdy-exchange-attribute">
      <strong>Exchange:</strong> {{ exchange.exchangeName }}
    </div>
    <div class="cdy-exchange-attribute">
      <strong>API Key:</strong> {{ exchange.parameters['api key'] }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="cdyg-spacer"></div>
    <button mat-button [color]="'warn'" (click)="dropExchange(exchange)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
