<mat-card *ngFor="let exchange of (exchanges$ | async); trackBy:trackExchangeBy('exchangeId')">
  <mat-card-content>
    <div class="cdy-exchange-attribute">
      <strong>Exchange:</strong> {{ exchange.exchangeName }}
    </div>
    <div class="cdy-exchange-attribute">
      <strong>API Key:</strong> {{ exchange.parameters['api key'] }}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="cdyg-spacer"></div>
    <button mat-button [color]="'warn'" (click)="dropExchange(row)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>

  <!-- <ng-container matColumnDef="exchangeName">
    <mat-header-cell *matHeaderCellDef>Exchange</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'exchangeName') }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="exchangeKey">
    <mat-header-cell *matHeaderCellDef>API Key</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getColumnValue(row, 'exchangeKey') }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actionDrop">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-button mat-icon-button [color]="'warn'" (click)="dropExchange(row)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->

<!-- </mat-table> -->
