<cdy-page-content [small]="true">

  <mat-accordion>

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Account Data</mat-panel-title>
      </mat-expansion-panel-header>

      <cdy-account-data></cdy-account-data>
    </mat-expansion-panel>

    <mat-expansion-panel [hideToggle]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Preferences</mat-panel-title>
      </mat-expansion-panel-header>

      <cdy-account-preferences></cdy-account-preferences>
    </mat-expansion-panel>

  </mat-accordion>

</cdy-page-content>
