mat-form-field {
  margin-bottom: 1.25em;

  &.cdyg-full-width {
    display: block;
  }
}

.cdyg-form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  ~ mat-error {
    margin-top: 1rem;
  }
}
