@import '~@angular/material/theming';

@include mat-core();

$cdy-app-primary: mat-palette($mat-teal);
$cdy-app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$cdy-app-warn:    mat-palette($mat-red);

$cdy-app-theme: mat-light-theme($cdy-app-primary, $cdy-app-accent, $cdy-app-warn);

// Do not generate the theme here, to be able to import this file elsewhere for
// using the defined color variables.
